html, body {

    width: 100% !important;
    height: 100% !important;

    background-color: #e7d2b9;

    font-family: 'Roboto', sans-serif;

}

.logo-img {
    margin-top: 25px;
    width: 100px;
}
.logo {
    margin-top: 10px;
    font-weight: 100;
    font-style: italic;
    color: #bf9055;
    text-transform: uppercase;
}
i {
    color: #bf9055;
}